# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Secrets
*.auto.tfvars
secrets.auto.tfvars
